.header-wrapper {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/header-background.png);
  background-size: cover;
}

.about-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  margin-left: 5px;
}

.about-link:visited {
  color: white;
}

.heading-wrapper {
  margin-top: 180px;
}

.heading-upper {
  margin-left: 5px;
  font-weight: 400;
}

.heading-down {
  font-weight: 900;
  margin-top: 4rem;
  font-size: 110px;
}

.main-wrapper {
  align-items: center;
  max-width: 620px;
  width: 100%;
  min-width: 150px;
  margin: 0 auto;
  padding: 50px;
}

// SEARCH FIELD
.search-field{
  background-color: rgba($color: #000000, $alpha: 0.1);
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 25px 5px 35px;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;

}
.search-item-container{
  border-right: 1px solid white;
  width: 30px;
  transform:rotate(90deg);
}

.search-item--heading {
  margin-bottom: 5px;
  font-size: 14px;
}

.search-item--selected-item {
  font-size: 16px;
}

.search-item--arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  color: #aaa;
}

.search-item--arrow-down {
  width: 0;
  height: 0;
  position: relative;
  left:130px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  
}

// .search-item--arrow-down::after {
//   content: url(../assets/arrow.svg);
//   transform: rotateY(90deg);
// }

.search-item--arrow-up {
  position: relative;
  left:130px;
  bottom: 28px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;


}



// .search-item--arrow-up::after {
//   content: url(../assets/arrow.svg);
// }



.search-item--dropdown-container {
  background-color: rgba($color: #291b1b, $alpha: 1.0);
  background: #000;
  cursor: pointer;
  display: inline-block;
  background: transparent;
  height: 100%;
  width: 25%;
  
  

}

.search-item--dropdown-container div {
  padding: 6px;


}

.search-item--dropdown-container div:hover {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

// .select-field--box{
//   width: 100%;
//   position: absolute;

// }
.search-button--heading{
  font-size: 14px;
  align-self: flex-start;
  cursor:pointer;
  padding-top:14px;
  text-transform: uppercase;
}
