@import "./font.scss";
@import "./header.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}



html {
  font-size: 62.5%;
}

body {
  background-color: #ecf0f1;
  color: #ffffff;
  font-family: Inter UI, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7rem;

}

.container {
  max-width: 940px;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
}
